<!-- <div class="home">
	<md-button>
		<md-tooltip md-direction="bottom">Dashboard</md-tooltip>
		<i class="material-icons">
			home
		</i>
	</md-button>
</div>
 -->
<md-toolbar class="home">
	<h1 class="md-toolbar-tools">
		<md-button>
			<md-tooltip md-direction="bottom">Dashboard</md-tooltip>
			<i class="material-icons">
				home
			</i>
		</md-button>
	</h1>
</md-toolbar>
<md-content class="side-menu-content">
	<md-button class="md-primary" hide-gt-md>
		Close Sidenav Left
	</md-button>
	<div class="avatar-section" hide show-gt-md>
		<div class="avatar">
			<img ng-src="app/images/user-avatar.svg" />
			<md-button class="md-icon-button" aria-label="More">
				<i class="material-icons">
					settings
				</i>
			</md-button>
			<div class="user-name active">Full Name</div>
			<div class="user-title">Title</div>
		</div>
	</div>
	<div class="list-section">
		<ul>
			<li ng-class="{ 'active': menu.activeItem.title === item.title }" ng-repeat="item in menu.items">
				<md-button ng-click="onMenuItemClick(item)">
					<i ng-if="item.listIcon" class="material-icons list-icon"
						ng-bind="item.listIcon"></i>
					{{ item.title }}
					<i ng-if="item.listActionIcon" class="material-icons list-action-icon"
						ng-bind="item.listActionIcon"></i>
				</md-button>
				<ul ng-if="item.subMenu && item.subMenu.items" class="sub-list"
					ng-show="item.subMenu.show">
					<li ng-repeat="subItem in item.subMenu.items"
						ng-class="{ 'active': item.subMenu.activeItem.title === subItem.title }">
						<md-button ng-click="onSubMenuItemClick(item, subItem)">
							{{ subItem.title }}
						</md-button>
					</li>
				</ul>
			</li>
		</ul>
	</div>
	<p hide show-gt-md>
	</p>
</md-content>